<!-- Страница редактирования вопроса -->
<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Вопрос</h1>

  <div class="column-1-2">
    <!-- Подключаем паршиал form -->
    <%= render 'form' %>
  </div>
</div>