.form {
    width: 100%;
}

.form-field {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-textarea {
    min-height: 100px;
}

.form-textarea,
.form-text-field {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #00b6ad;
    padding: 7.5px 10px;
    border-radius: 3px;
    font-size: 16px;
}

.form-action {
    margin-top: 20px;
}

.form-errors {
    color: #dc554f;
}

.form-error-message {
    list-style: none;
    margin-bottom: 10px;
}
